
		body{
			background-color: green;
		}
		h1{
			color: blue;
			text-decoration: underline;
			font: 50px;
		}
		p{
			font: 0.8em;
		}
		li{
			font: 0.8em;
		}
		a{
			color: purple;
		}
		#contact-me {
			color: red;
		}
		.stories-me{
			color: yellow;

		}
		#div-1{
			background-color: lightgreen;
		}
		#div-2{
			background-color: lightgray;
			float: right;
			width: 50%;
			height: auto;
		}

		#div-3{
			background-color: lightseagreen;
			padding: 10px;
			width: 50%;

		}

		#div-1, #div-2, #div-3{
			border: dashed;
		}

		form{
			background-color: white;
			padding: 15px;
			border: solid;
			font-weight: 400px;
			font: italic;
			width: 300px;
			height: 300px;
		}

		input[type=button]{
			background-color: green;
			font: italic;
			font-weight: 400px;
			padding: 5px;
		}
		
	